<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- popover code -->
    <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover(); 
    });
    </script>
    <!-- page layout-->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <!-- The bootstrap example for sidenav -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
  body {
      position: relative;
  }
  .affix {
      top: 20px;
  }
   div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
  }
  
  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section41, #section42  {
        margin-left: 150px;
    }
  }
  </style>
</head>

    <!-- end bootstrap example -->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/kbroman.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>
    <!-- Navbar -->
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="project.html">Project</a></li>
          <li><a href="design.html">Design</a></li>
          <li><a href="analysis.html">Analysis</a></li>
          <li><a href="lab_book.html">Lab Book</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="sponsors.html">Sponsors</a></li>
        </ul>
      </div>
    </div>

<!-- Side Navbar2 -->
<body data-spy="scroll" data-target="#myScrollspy" data-offset="15">

<br>

<div class="container">
  <div class="row">
    <nav class="col-sm-3" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
        <li><a href="#section1">Section 1</a></li>
        <li><a href="#section2">Section 2</a></li>
        <li><a href="#section3">Section 3</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#section41">Section 4-1</a></li>
            <li><a href="#section42">Section 4-2</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9">
      <div class="content">
      <div id="section1">    
        <h1>Section 1</h1>
          {{content}}
      </div>
      <div id="section2"> 
        <h1>Section 2</h1>
          {{content}}
      </div>        
      <div id="section3">
        <h1>Section 3</h1>
          {{content}}
      </div>
      <div id="section41">
        <h1>Section 4-1</h1>
          {{content}}
      </div>      
      <div id="section42">
        <h1>Section 4-2</h1>
          {{content}}
      </div>
    </div>
  </div>
</div>

</body>
</html>
<!--sidescrollbar attempt1-->
    <div id="main" role="main">
  <div class="sidebar sticky">
<nav class="nav__list">
  <ul>
    <li>
      <a href="lab_book/#Getting Started"><span class="nav__sub-title">Getting Started</span></a>
    <ul>
      <li><a href="lab_book/#June 19" class="" style=>June 19</a></li>
      <li><a href="lab_book/#June 20" class="" style=>June 20</a></li>
      <li><a href="lab_book/#June 21" class="" style=>June 21</a></li>
    </ul>
      <br>
      <a href="#top"><span class="nav__sub-title">Top</span></a>
    </li>
  </ul>
</nav>

<!-- Side Navbar attempt 2 -->
<!--<body data-spy="scroll" data-target="#myScrollspy" data-offset="15">

<nav class="col-sm-3" id="myScrollspy">
  <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
</nav>

</body>-->

<!-- content -->

    <div class="container-narrow">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
        <p><small>
  <!-- start of Karl's footer; modify this part -->
      <!--    <a href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" alt="CC0"/></a> &nbsp;
          <a href="http://kbroman.org">Karl Broman</a> -->
  <!-- end of Karl's footer; modify this part -->
        </small></p>
      </footer>

    </div>

    {% include JB/analytics %}
  </body>
</html>
